
/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: aquamarine;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

.logo {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links li a {
    position: relative;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    padding: 4px 0;
    transition: var(--transition);
}

.nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 0.3s ease-in-out;
}

.nav-links li a:hover::after {
    width: 100%;
}

/* Hero Section */
.hero-section {
    padding: 120px 0 80px;
    background-color: var(--background-light);
    overflow: hidden;
}

.hero-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.hero-img {
    flex: 1;
    min-width: 300px;
    max-width: 50%;
}

.hero-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transition: var(--transition);
}

.hero-img img:hover {
    transform: scale(1.05);
}

.hero-info {
    flex: 1;
    min-width: 300px;
    max-width: 50%;
}

.hero-info h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--text-dark);
}

.hero-info h1 span {
    color: var(--primary-color);
}

.hero-info h3 {
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-bottom: 15px;
}

.hero-info p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: var(--text-gray);
}